/* __________ MainCSS and Media __________ */
@font-face {
    font-family: disney;
    src: url(../fonts/disney.ttf);
}

@font-face {
    font-family: frozen;
    src: url(../fonts/frozen.ttf);
}

@font-face {
    font-family: lego;
    src: url(../fonts/lego.otf);
}

@font-face {
    font-family: pokemon;
    src: url(../fonts/pokemon.otf);
}

.bold {
	font-weight: bold;
}

.backgroundImg {
	background: url(../images/background.jpg);
	height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - Star coloring - */
.fa-star {
    color: lightBlue;
}
.checked {
    color: orange;
}

/* - Phone size adjustments - */
@media screen and (max-width: 1260px) {
    .backgroundImg {
        background: none;
    }
}